@font-face {
  font-family: 'almundo_android';
  src:  url('fonts/almundo_android.eot?16rso9');
  src:  url('fonts/almundo_android.eot?16rso9#iefix') format('embedded-opentype'),
    url('fonts/almundo_android.ttf?16rso9') format('truetype'),
    url('fonts/almundo_android.woff?16rso9') format('woff'),
    url('fonts/almundo_android.svg?16rso9#almundo_android') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'almundo_android' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flights:before {
  content: "\e900";
  color: #59595c;
}
.icon-hotels:before {
  content: "\e901";
  color: #59595c;
}
.icon-packages:before {
  content: "\e902";
  color: #5e5e5e;
}
.icon-cruises:before {
  content: "\e903";
  color: #59595c;
}
.icon-cars:before {
  content: "\e904";
  color: #59595c;
}
.icon-getaways:before {
  content: "\e905";
  color: #59595c;
}
.icon-disney:before {
  content: "\e906";
  color: #5a5a5d;
}
.icon-trains:before {
  content: "\e907";
  color: #59595c;
}
.icon-excursions:before {
  content: "\e908";
  color: #5e5e5e;
}
.icon-assistance:before {
  content: "\e909";
  color: #5c5c5c;
}
.icon-destinations:before {
  content: "\e90a";
  color: #59595c;
}
.icon-facebook:before {
  content: "\e90b";
  color: #59595c;
}
.icon-twitter:before {
  content: "\e90c";
  color: #59595c;
}
.icon-googleplus:before {
  content: "\e90d";
  color: #59595c;
}
.icon-instagram:before {
  content: "\e90e";
  color: #59595c;
}
.icon-linkedin:before {
  content: "\e90f";
  color: #59595c;
}
.icon-arrow-right:before {
  content: "\e910";
  color: #59595c;
}
.icon-arrow-left:before {
  content: "\e911";
  color: #59595c;
}
.icon-wallet:before {
  content: "\e912";
  color: #59595c;
}
.icon-star:before {
  content: "\e913";
  color: #59595c;
}
.icon-half-star:before {
  content: "\e914";
  color: #555;
}
.icon-question:before {
  content: "\e915";
  color: #5b5b5c;
}
.icon-exclamation-circle:before {
  content: "\e916";
  color: #59595c;
}
.icon-check-circle:before {
  content: "\e917";
  color: #59595c;
}
.icon-close-circle:before {
  content: "\e918";
  color: #59595c;
}
.icon-wifi:before {
  content: "\e919";
  color: #59595c;
}
.icon-iso-almundo:before {
  content: "\e91a";
  color: #5d5d5d;
}
.icon-ico-google:before {
  content: "\e91b";
  color: #59595c;
}
.icon-ico-face:before {
  content: "\e91c";
  color: #59595c;
}
.icon-ico-twitter:before {
  content: "\e91d";
  color: #59595c;
}
.icon-summer:before {
  content: "\e91e";
  color: #59595c;
}
.icon-spring:before {
  content: "\e91f";
  color: #59595c;
}
.icon-autumn:before {
  content: "\e920";
  color: #59595c;
}
.icon-winter:before {
  content: "\e921";
  color: #59595c;
}
.icon-reservations:before {
  content: "\e922";
  color: #59595c;
}
.icon-label:before {
  content: "\e923";
  color: #59595c;
}
.icon-cup:before {
  content: "\e924";
  color: #59595c;
}
.icon-down:before {
  content: "\e925";
  color: #59595c;
}
.icon-up:before {
  content: "\e926";
  color: #59595c;
}
.icon-van:before {
  content: "\e927";
  color: #59595c;
}
.icon-card:before {
  content: "\e928";
  color: #59595c;
}
.icon-departure:before {
  content: "\e929";
  color: #5e5f5e;
}
.icon-arrival:before {
  content: "\e92a";
  color: #5e5f5e;
}
.icon-moon:before {
  content: "\e92b";
  color: #59595c;
}
.icon-dawn:before {
  content: "\e92c";
  color: #59595c;
}
.icon-morning:before {
  content: "\e92d";
  color: #59595c;
}
.icon-sun:before {
  content: "\e92e";
  color: #59595c;
}
.icon-night:before {
  content: "\e92f";
  color: #59595c;
}
.icon-suitcase:before {
  content: "\e930";
  color: #5d5d5d;
}
.icon-child:before {
  content: "\e931";
  color: #5d5d5d;
}
.icon-adult:before {
  content: "\e932";
  color: #5d5d5d;
}
.icon-sleep:before {
  content: "\e933";
  color: #4e4d4d;
}
.icon-breakfast:before {
  content: "\e934";
  color: #4e4d4d;
}
.icon-all-inclusive:before {
  content: "\e935";
  color: #5a5959;
}
.icon-half-board:before {
  content: "\e936";
  color: #5a5959;
}
.icon-full-board:before {
  content: "\e937";
  color: #5a5959;
}
.icon-mealplan:before {
  content: "\e938";
  color: #585858;
}
.icon-iso-am-nocircle:before {
  content: "\e939";
  color: #5c5c5c;
}
.icon-logo-calm:before {
  content: "\e93a";
  color: #5c5c5c;
}
.icon-user:before {
  content: "\e93b";
  color: #5c5c5c;
}
.icon-offer:before {
  content: "\e93c";
  color: #5c5c5c;
}
.icon-contact:before {
  content: "\e93d";
  color: #5c5c5c;
}
.icon-settings:before {
  content: "\e93e";
  color: #5c5c5c;
}
.icon-logout:before {
  content: "\e93f";
  color: #5c5c5c;
}
.icon-close:before {
  content: "\e940";
  color: #5c5c5c;
}
.icon-check-outlines:before {
  content: "\e941";
  color: #5c5c5c;
}
.icon-check:before {
  content: "\e942";
  color: #5c5c5c;
}
.icon-menu:before {
  content: "\e943";
  color: #5c5c5c;
}
.icon-pin:before {
  content: "\e944";
  color: #5c5c5c;
}
.icon-date:before {
  content: "\e945";
  color: #5c5c5c;
}
.icon-ok:before {
  content: "\e946";
  color: #5c5c5c;
}
.icon-back:before {
  content: "\e947";
  color: #5c5c5c;
}
.icon-search:before {
  content: "\e948";
  color: #5c5c5c;
}
.icon-add:before {
  content: "\e949";
  color: #5c5c5c;
}
.icon-add-outline:before {
  content: "\e94a";
  color: #5c5c5c;
}
.icon-less:before {
  content: "\e94b";
  color: #5c5c5c;
}
.icon-less-outline:before {
  content: "\e94c";
  color: #5c5c5c;
}
.icon-camera:before {
  content: "\e94d";
  color: #5c5c5c;
}
.icon-passengers:before {
  content: "\e94e";
  color: #5c5c5c;
}
.icon-time:before {
  content: "\e94f";
  color: #5c5c5c;
}
.icon-arrow-up:before {
  content: "\e950";
  color: #59595c;
}
.icon-arrow-down:before {
  content: "\e951";
  color: #59595c;
}
.icon-billing:before {
  content: "\e952";
  color: #59595c;
}
.icon-more:before {
  content: "\e953";
  color: #59595c;
}
.icon-list:before {
  content: "\e954";
  color: #5c5c5c;
}
.icon-map:before {
  content: "\e955";
  color: #59595c;
}
.icon-radio-on:before {
  content: "\e956";
  color: #59595c;
}
.icon-radio-off:before {
  content: "\e957";
  color: #59595c;
}
.icon-email:before {
  content: "\e958";
  color: #59595c;
}
.icon-add-person:before {
  content: "\e959";
  color: #59595c;
}
.icon-password:before {
  content: "\e95a";
  color: #59595c;
}
.icon-link:before {
  content: "\e95b";
  color: #59595c;
}
.icon-gender:before {
  content: "\e95c";
  color: #59595c;
}
.icon-passport:before {
  content: "\e95d";
  color: #59595c;
}
.icon-edit:before {
  content: "\e95e";
  color: #59595c;
}
.icon-add2:before {
  content: "\e95f";
  color: #59595c;
}
.icon-home:before {
  content: "\e960";
  color: #5c5c5c;
}
.icon-file:before {
  content: "\e961";
  color: #5c5c5c;
}
.icon-trash:before {
  content: "\e962";
  color: #5c5c5c;
}
.icon-smartphone:before {
  content: "\e963";
  color: #5c5c5c;
}
.icon-fulltime:before {
  content: "\e964";
  color: #5c5c5c;
}
.icon-contact2:before {
  content: "\e965";
  color: #5c5c5c;
}
.icon-whatsapp:before {
  content: "\e966";
  color: #5c5c5c;
}
.icon-skype:before {
  content: "\e967";
  color: #5c5c5c;
}
.icon-callcenter:before {
  content: "\e968";
  color: #5c5c5c;
}
.icon-alarm:before {
  content: "\e969";
  color: #5c5c5c;
}
.icon-flying:before {
  content: "\e96a";
  color: #59595c;
}
.icon-round-trip:before {
  content: "\e96b";
  color: #59595c;
}
.icon-many-cities:before {
  content: "\e96c";
  color: #59595c;
}
.icon-baby:before {
  content: "\e96d";
  color: #59595c;
}
.icon-forward:before {
  content: "\e96e";
  color: #5c5c5c;
}
.icon-urgency:before {
  content: "\e96f";
  color: #5c5c5c;
}
.icon-foreign:before {
  content: "\e970";
  color: #5c5c5c;
}
.icon-local:before {
  content: "\e971";
  color: #5c5c5c;
}
.icon-clubalmundo:before {
  content: "\e972";
  color: #5c5c5c;
}
.icon-explore:before {
  content: "\e973";
  color: #5c5c5c;
}
.icon-suggestions:before {
  content: "\e974";
  color: #5c5c5c;
}
.icon-mic:before {
  content: "\e975";
  color: #5c5c5c;
}
.icon-chat:before {
  content: "\e976";
  color: #5d5d5d;
}
.icon-videocall:before {
  content: "\e977";
  color: #5d5d5d;
}
.icon-case:before {
  content: "\e978";
  color: #5d5d5d;
}
.icon-info:before {
  content: "\e979";
  color: #59595c;
}
.icon-VR:before {
  content: "\e97a";
  color: #5d5d5d;
}
.icon-nature:before {
  content: "\e97b";
  color: #5d5d5d;
}
.icon-city:before {
  content: "\e97c";
  color: #5d5d5d;
}
.icon-ballon:before {
  content: "\e97d";
  color: #5d5d5d;
}
.icon-culture:before {
  content: "\e97e";
  color: #5d5d5d;
}
.icon-food:before {
  content: "\e97f";
  color: #5d5d5d;
}
.icon-ride:before {
  content: "\e980";
  color: #5d5d5d;
}
.icon-beach:before {
  content: "\e981";
  color: #5d5d5d;
}
.icon-play:before {
  content: "\e982";
  color: #5d5d5d;
}
.icon-download:before {
  content: "\e983";
  color: #5d5d5d;
}
.icon-relax:before {
  content: "\e984";
  color: #5d5d5d;
}
.icon-packages2:before {
  content: "\e985";
  color: #5e5e5e;
}
.icon-excursions2:before {
  content: "\e986";
  color: #5e5e5e;
}
.icon-bus:before {
  content: "\e987";
  color: #59595c;
}
.icon-vh:before {
  content: "\e988";
  color: #59595c;
}
.icon-clock:before {
  content: "\e989";
  color: #59595c;
}
.icon-van2:before {
  content: "\e98a";
  color: #59595c;
}
.icon-parking:before {
  content: "\e98b";
  color: #595858;
}
.icon-band:before {
  content: "\e98c";
  color: #58585b;
}
.icon-magic-kingdom:before {
  content: "\e98d";
  color: #5c5c5c;
}
.icon-epcot:before {
  content: "\e98e";
  color: #5c5c5c;
}
.icon-hollywood-studio:before {
  content: "\e98f";
  color: #5c5c5c;
}
.icon-animal-kigdom:before {
  content: "\e990";
  color: #5c5c5c;
}
.icon-water-parks:before {
  content: "\e991";
  color: #5c5c5c;
}
.icon-more-fun:before {
  content: "\e992";
  color: #5c5c5c;
}
.icon-golf:before {
  content: "\e993";
  color: #5c5c5c;
}
.icon-tickets:before {
  content: "\e994";
  color: #5c5c5c;
}
.icon-enviar-realizados:before {
  content: "\e995";
  color: #5c5c5c;
}
.icon-notificaciones:before {
  content: "\e996";
  color: #5c5c5c;
}
.icon-corazon:before {
  content: "\e997";
  color: #5c5c5c;
}
.icon-corazon-outline:before {
  content: "\e998";
  color: #5c5c5c;
}
.icon-trips:before {
  content: "\e999";
  color: #5c5c5c;
}
.icon-hotels-near:before {
  content: "\e99a";
  color: #5d5d5d;
}
.icon-cash:before {
  content: "\e99b";
  color: #5d5d5d;
}
.icon-2D:before {
  content: "\e99c";
  color: #5d5d5d;
}
